.moveList-container{
    margin-left: 40px;
    border-radius: 5px;
    width:320px;
    background-color: #80808024;
}

ul{
    padding-left: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
  
}

h2{
    padding:5px;
    border-bottom: 1px solid #4300ff36;
}